@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Navbar: #f5f5f5;
  --Yellow: #feb633;
  --White: #ffffff;
  --Black: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
